// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Adamina', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: rgb(78, 115, 223) !default;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


//responsive
$small: 576px;
$medium: 767px;
$large: 992px;
$extralarge: 1200px;

$media-small : "(max-width:#{$small})";
$media-medium : "(max-width:#{$medium})";
$media-large : "(max-width:#{$large})";
$media-extralarge : "(max-width:#{$extralarge})";